.categories-container-1{
    background-image: linear-gradient(rgb(212, 212, 131), rgb(255, 228, 72));
}
.categories-container-2{
    background-image: linear-gradient(rgb(204, 154, 162),rgb(212, 86, 107));
}
.categories-container-3{
    background-image: linear-gradient(rgb(122, 122, 161), rgb(169, 169, 230));
}
footer .container{
    background-color: #fce8ef;
}